* { box-sizing:border-box; transition:0.25s all; }

a { color:var(--primary); }
p,
ul,
ol, { color:var(--textcolor); line-height:1.75;
	@media screen and (min-width:48em) { font-size:110%; }
}

h1, .site-logo {
	color:var(--primary);
	font-family: sofia-pro, sans-serif;
	font-size:3rem;
	font-weight:700;
	text-decoration:unset;

	@media screen and (min-width:48em) {
		font-size:5rem;
	}
}

h1, h2, h3, h4, h5, h6 {
	color:var(--secondarytext);
	font-family: sofia-pro, sans-serif;
	font-weight:700;

	a { color:var(--secondarytext);
		text-decoration:underline;
		text-decoration-color: var(--primary-shadow);
		text-decoration-skip-ink: none;
		text-decoration-thickness:4px;
	}
}
h2 { font-weight:900; }
h3, .more-link { text-transform:uppercase; font-weight:300; letter-spacing:2px; }

.more-link, .button {
	color:var(--gold);
	display:inline-block;
	font-family: sofia-pro, sans-serif;
	font-size:1.25rem;
	font-weight:700;
	position:relative;
	text-decoration:unset;
	transition:0.3s all;

	&:before {
		content:'';
		background:var(--gold);
		height:3px;
		opacity:0.2;
		width:0;
		position:absolute;
		inset-inline-start:0;
		inset-inline-end:0;
		inset-block-end:-2px;
		transition:0.1s all;
	}
	&:after {
		content:'';
		background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIyMSI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSIjRDlBNTBCIiBkPSJtMTcuNjkgMi44MDQgNS4yMTEgNS44MzJILjk0M3YzLjcwN2gyMS44NUwxNy42OSAxOC42N2wyLjAwNyAyLjAyNEwyOS45MiAxMC40MzYgMTkuNjk3LjE3NyAxNy42OSAyLjgwNFoiLz48L3N2Zz4=") no-repeat center center;
		background-size:contain;
		margin-inline-start:5px;
		position:absolute;
		inset-block-end:3px;
		width:20px;
		height:20px;
	}

	&:hover { transform:scale(1.035);
		&:before { width:100%; }
	}
}

figcaption {
	color:var(--quiet);
	font-family: sofia-pro, sans-serif;
	font-size:1rem;
}


span.quiet {
	color:var(--quiet);
	display:block;
	font-family:'sofia-pro', sans-serif;
	font-size:0.875rem;
	text-align:center;
}



body:not(.single) article,
div.archives {
	h2 {
		line-height:1.1;
		margin-bottom:0.25em;
	}
	h2:after {
		background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MiIgaGVpZ2h0PSIzNiI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSIjNDJBNjlEIiBkPSJNMjkuMzE3IDQuMzQgMzkuODc2IDE0LjlILjUxOXY2LjIwN2gzOS4xNjVMMjkuMzE3IDMxLjQ3NGw0LjM1MiA0LjM1MiAxNy44NTUtMTcuOTE5TDMzLjY2OS4xbC00LjM1MiA0LjI0WiIvPjwvc3ZnPg==");
		background-repeat:no-repeat;
		background-size:contain;
		content:'';
		display:inline-block;
		height:20px;
		margin-inline-start:var(--padding);
		position:relative;
		inset-block-start:2px;
		width:36px;
	}

	&:hover {
		h2 a { color:var(--textcolor); text-decoration-color:var(--primary); }
		date, span { color:var(--primary); }
	}

	@media screen and (min-width:48em) {
		background:var(--background-quiet);
		margin-bottom:calc(var(--padding) * -1);
		padding:1vw 5vw 0;
	}
}