body.home main {
	//display: grid;
	//grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
	//grid-gap: 2vw;
	display:flex;
	flex-direction:column;
	gap:2vw;
	margin:0 auto 2vw;
	max-width:var(--max-width);

	article:first-of-type {
		border-radius:1px;
		grid-column:span 4;
		align-self:center;
		justify-self:center;

		h3 {
			line-height:1;
			margin-top:unset;
			margin-bottom:var(--double-padding);
			a { text-decoration:unset; }
			&:after { display:none; }
		}

		@media screen and (min-width:48em) {
			background:var(--bg-gradient);
			padding:4vw 5vw;
			h3 {
				font-size: 350%;
				text-decoration-skip-ink: all;
			}
			p:not(.post-info) {
				font-size:120%;
				max-width:65ch;
			}
		}
		@media (prefers-color-scheme: light) {
			h2 a { color:var(--quiet); }
		}
	}

	@media screen and (min-width:48em) {
		gap:var(--padding);
	}

	div.archives {
		display:flex;
		align-content: center;
		flex-direction:column;
		padding-block-end:5vw;
		a.button {
			letter-spacing:2px;
			margin:3rem auto 1rem;
			text-align:center;
			text-transform:uppercase;
		}

		&:hover span { color:var(--gold); }
	}

	div.organize {
		padding:5vw;

		h2 { margin-bottom:0.5rem; text-align:center; }

		ul {
			display:flex;
			flex-wrap:wrap;
			gap:1.25rem;
			justify-content:center;
			list-style-type:none;
			padding:unset;

			li {
				font-family:'sofia-pro', sans-serif;
				font-weight:400;
				text-transform:uppercase;
				transition:0.3s all;

				a {
					color: var(--theme);
					display: inline-block;
					font-size: 0.875rem;
					font-weight:700;
					padding: 5px 13px 7px;
					position: relative;
					text-decoration: none;


					&:before {
						content: '';
						background: var(--theme);
						border-radius: 2px;
						opacity: 0.1;
						position: absolute;
						inset-inline-start: 0;
						inset-inline-end: 0;
						inset-block-start: 0;
						inset-block-end: 0;
						z-index: -1;
					}
				}

				&:hover {
					transform:scale(1.1);
					a { color:var(--white) }
					a:before { opacity:1; }
				}
			}
		}

		ul.tags {
			li {
				a { color:var(--quiet); text-transform:none; }
				a:before { background:var(--quiet); }

				&:hover a { color:var(--background); }

				&.currahee, &.fullblood { display:none; }
			}
		}
		
		&.links { padding-top:unset !important; }
	}

}	main > * { margin-top:unset; }

