

body.single {
	main {
		margin: 0 auto;
		transition: 0.3s all;
		width: var(--max-width);

		h1 {  color:var(--textcolor); line-height:1.05; opacity:0.95; }
		.post-info { margin-bottom: 2vw; }

		.post-info date { margin-right: 2vw; }
	}

	&.has-featured-image {
		position:relative;
		main { position:static; }
		main:before {
			content:'';
			background-size:cover;
			height:100vh;
			opacity:0.9;
			position:absolute;
			inset-inline-start: 0;
			inset-inline-end: 0;
			inset-block-start: 0;
		z-index:-2;
		}
		main:after {
			content:'';
			background:#f00;
			background: linear-gradient(0deg, var(--background) 8%, var(--background-shadow) 100%);
			height:100vh;
			position:absolute;
				inset-inline-start:0;
				inset-inline-end:0;
				inset-block-start:0;
			z-index:-1;
		}
	}

}

.post-info {
	display:flex;
	flex-wrap:wrap;
	gap:var(--double-padding);
	justify-content:flex-start;
	time, label, a { color:var(--theme); }
}

body.single main article a { color:var(--theme); }
body.single footer { padding-top:5vw; border-top:5px solid var(--theme); }


.webmentions {
	background:var(--background-quiet);
	padding:var(--double-padding);
	
	span.says { font-family: sofia-pro, sans-serif; color:var(--textcolor); opacity:0.8; font-size:1rem; }
	li.comment { list-style-type:none; margin-bottom:var(--double-padding); }
	.comment-author img { display:none; }
	.comment-meta.commentmetadata { font-family: sofia-pro, sans-serif; color:var(--textcolor); opacity:0.8; font-size:1rem; }
	
	p { font-size:1rem; }
}