

body.single {
	main {
		margin: 0 auto;
		transition: 0.3s all;
		width: var(--max-width);

		h1 {  color:var(--quiet); line-height:1.05; opacity:0.95; }
		.post-info { margin-bottom: 2vw; }

		.post-info date { margin-right: 2vw; }
	}

	&.has-featured-image {
		position:relative;
		main { position:static; }
		main:before {
			content:'';
			background-size:cover;
			height:100vh;
			opacity:0.9;
			position:absolute;
			inset-inline-start: 0;
			inset-inline-end: 0;
			inset-block-start: 0;
		z-index:-2;
		}
		main:after {
			content:'';
			background:#f00;
			background: linear-gradient(0deg, var(--background) 8%, var(--background-shadow) 100%);
			height:100vh;
			position:absolute;
				inset-inline-start:0;
				inset-inline-end:0;
				inset-block-start:0;
			z-index:-1;
		}
	}

}

.post-info date, .post-info label {
	color: var(--quaternary);
}

blockquote {
	font-size:125%;
}
cite {
	font-family:'sofia-pro', san-serif;
	color:var(--textcolor);
	font-size:1rem;
	font-style:normal;
}